@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* [START] hero section scroll down inidcate button */

@keyframes bounce-custom {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-bounce-custom {
  animation: bounce-custom 1.5s ease-in-out infinite;
}

/* [ END ] hero section scroll down inidcate button */

.background-thing {
  background: 
    url("/images/bg-imag.jpeg") lightgray;
  background-size: cover, cover; 
  background-position: center, center; 
  background-repeat: no-repeat, no-repeat; 
  width: 100vw;
  min-height: 100vh;
}

.hover-effectx {
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
  
}

.hover-effectx:hover {
  transform: scale(1.01);
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
  backface-visibility: hidden;
}

